
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html{
    scroll-behavior: smooth;
    font-family: "Poppins", sans-serif;
    font-weight: bolder;
    font-size: 1vw;
}

body{
    background-image:url(personal-website/hike-back.jpg);
    background-size: cover;
    background-position-x: center;
    background-position-y: 55%;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-color: rgba(0, 0, 0, 0.1);
    color: white;
}

* {
    text-shadow: 0.1em 0.1em 0.15em black;
}

/* Style the portfolio project boxes */
.aboutnav{
    width: 100%; /* Make the nav width 100% to span the entire header */
    padding: 10px 0; /* Add some padding for spacing */
    margin:auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.linkcontainer{
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    /* margin-right: 5dvh; */
}

.items{
    margin-left: 10px;
    border-radius: 25%;
}

.items:first-child{
    margin-left: 0; /* dont want first kid to have margin left since its leftmost */
    margin-right: auto;
}

.items:last-child{
    margin-left: auto;
    margin-right: 10px;
}

.items a{
    color: gray;
    font-weight: bolder;
    text-decoration: none;
    padding: 5px 10px;
    border: 1px solid transparent;
}

.items a:hover{
    /* border-color: grey; */
    border-radius: 40%;
    background-color: rgba(0, 0, 0, 0.2);
}

.namehead{
    text-align: center;
    margin-left: 10px;
    flex: 1;
}

a{
    text-decoration: none;
}

.text-container a:hover{
    text-decoration: underline;
    text-decoration-color: #228B22;
}

h2 {
    font-size: 40px;
}

h3 {
    font-size: 2vw;
}

.portfolio_top{
    width: 55%;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
}


/* dont know if keeping / using below  */

.port_body{
    padding-top: 25px;
    width: 60%;
    align-content: center;
    justify-content: center;
    margin: 0 auto;
    height: auto;
}

.portfolio{
    align-items: center;
    justify-content: center;
    display: grid;
    /* grid-template-rows: 100px 100px 100px 100px; */
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 6dvh;
    width: 100%;
    height: 100%;
}

.project-container{
    width: 100%;
    height: 100%;
    border: solid;
    box-shadow: 0px 0px 5px #aaa;
}

.project {
    position: relative;
    object-fit: contain;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100%;
    gap: 1rem;
    background-color: rgba(197, 197, 197, 0.7);
}

.project-content{
    flex: 1;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    overflow: hidden;
    position: relative;
}

.project-content img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.text-content {
    overflow: hidden;
    overflow-y: auto;
    width: 55%;
    height: 100%;
}

.boxes{
    background-color: #228B22;
    border-radius: 9999px;
    align-items: center;
    border-width: 1px;
    padding-left: .5rem;
    padding-right: .5rem;
    display: inline-flex;
}

.footer{
    margin-top: 5rem;
    color: whitesmoke;
}

@media screen and (max-width: 768px) {

    html {
        font-family: 1rem;
    }

    body {
        height: 100%;
        min-height: 100vh;
        margin: 0;
        display: flex;
        flex-direction: column;
    }

    .aboutnav {
        height: 4rem;
        margin: auto;
        font-size: 4rem;
    }

    .linkcontainer {
        margin-top: 2.5vh;
        margin-right: 1.5vh;
    }

    .portfolio_top {
        width: 90%; 
        margin: auto;
        padding: 2rem 1rem;
        font-size: 4rem;
    }

    .port_body {
        flex-grow: 1;
        width: 90%;
        padding-left: 0.63rem;
        padding-right: 0.63rem;
    }

    .portfolio {
        grid-template-columns: 1fr; /* Stack portfolio items vertically on mobile */
        gap: 2.75vh; 
    }

    .project {
        flex-direction: row;
        height: 50rem;
    }

    .project-container {
        height: auto;
        min-height: 50rem;
    }

    .project-content {
        width: 50%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
    }

    .project-content img {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }

    .text-content {
        height: 100%;
        width: 50%;
        font-size: 3rem;
    }

    .boxes {
        font-size: 3rem;
        display: inline;
    }

    h2 {
        font-size: 8rem; 
    }

    h3 {
        font-size: 4rem; 
    }

    .footer {
        flex-shrink: 0;
        font-size: 4rem;
    }
}




