

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Reset some default browser styles */

html, body, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
    font-size: 1vw;
}

* {
    text-shadow: 0.1em 0.1em 0.2em black;
}


h1{
    padding-top: 10vh;
}

/* Apply a background color and font styles */
body {
    width: 100vw;
    height: 100vh;
    margin: 0;
}

a{
    text-decoration: none;
    color: white;
}

a:hover{
    text-decoration: underline;
    text-decoration-color: #067706;
}

header{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: .4rem;
    justify-content: space-between;
}

/* Style the main */
main {
    background-image: url('personal-website/hike-back.jpg');
    background-size: cover;
    background-position-x: center;
    background-position-y: 55%;
    background-attachment: scroll;
    background-repeat: no-repeat;
    color: white;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    position: relative;
    font-family: "Poppins", sans-serif; 
}


/* .thebottom {
    width: 100%;
    min-height: 100vh;
    position: relative;
    background-image: url('personal-website/waterfalll.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: scroll;
    background-repeat: no-repeat;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); 
    gap: 5vh; 
    justify-items: center; 
    align-items: center; 
    padding: 5vh;
}  */


/* .container1, .container2 {
    border: 3px solid white;
    margin: 0;
    border-radius: 25%;
    box-sizing: border-box;
    overflow: hidden;
    position: relative;
    width: 100%; 
    aspect-ratio: 1;
    display: flex;
    justify-content: center;
    align-items: center;
} */

/* .image{
    object-fit: cover;
    display: block;
} */

/* .overlay-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    transition: opacity 0.3s ease; 
    align-items: center;
} */

/* .container1:hover .overlay-text,
.container2:hover .overlay-text{
    opacity: 1;
    text-decoration: underline;
} */

.mainme{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 5vh;
    padding-right: 5vh;
    flex-wrap: wrap;
}

.whome{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    max-width: 500px;
    margin-left: 5vh;
    text-shadow: 0.1em, 0.1em, black;
    padding-right: 5vh;
}

p{
    display: block;
    margin-block-start: 1rem;
    font-weight: bold;
    font-size: 1.1rem; 
}

.inline-stuff{
    color: #067706;
    text-decoration: none;
    font-weight: bold;
    /* background-color: rgba(108, 129, 110, 0.349); */
}

.thumbnail {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    max-height: 320px;
    width: auto;
    max-width: 320px;
    align-items: center;
    overflow: hidden;
    border-radius: 50%;
}

h1 {
    font-size: 36px;
    justify-content: flex-start;
    font-size: 60px;
    font-family: "Poppins", sans-serif;
}

nav {
    width: 100%; /* Make the nav width 100% to span the entire header */
    padding: 10px 0; /* Add some padding for spacing */
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-bottom: 12vh;
    padding-left: 50vh;
    padding-right: 50vh;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 24px;
}

/* Style the sections */
section {
    padding: 20px;
}

h2 {
    font-size: 24px;
    margin-bottom: 10px;
    text-align: center;
}

p {
    font-size: 16px;
}

.icon{
    fill: #fff;
}

.footer{
    align-self: flex-start;
    margin: 1rem;
    text-align: left;
    color: whitesmoke;
}

@media screen and (max-width: 768px) {
    html {
        font-size: 2vw; /* Adjust the base font size */
    }

    main {
        background-size: cover;
        background-attachment: fixed;
        min-height: 100vh;
        height: auto;
    }

    h1 {
        font-size: 5rem;
    }

    h3 {
        font-size: 2.5rem;
    }

    nav ul {
        padding: 0;
        margin: auto;
    }

    nav ul li {
        margin: 10px 0;
    }

    .mainme {
        flex-direction: column;
        padding-left: 2vh;
        padding-right: 2vh;
    }

    .whome {
        max-width: 100%;
        margin-left: 0;
        padding-right: 2vh;
        padding-left: 2vh;
        margin: auto;
    }

    .thumbnail {
        max-height: 200px;
        max-width: 200px;
        align-items: center;
        margin: auto;
    }

    body {
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        min-height: 100vh;
    }
}
